/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Asap', sans-serif;
  color: #444444;
}

a {
  color: #39718d;
  text-decoration: none;
}

a:hover {
  color: #d6e5f8;
  text-decoration: none;
}

.justify {
  text-align: justify;
}

.blue-bg {
  background-color: #a6d2d94a;
}

.green-bg {
  background-color: #bce3c6;
}

.yellow-bg {
  background-color: #fae3b1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Asap', sans-serif;
}

/*--------------------------------------------------------------
# New About
--------------------------------------------------------------*/
.section-text{
    padding: 0px;
    overflow: hidden;
  
}

.section-text .container::after,
.section-text .container::before,
.section-text .row::after,
.section-text .row::before {
	content: " ";
	display: table;
}
.section-text .container::after,
.section-text .row::after {
	clear: both;
}
.section-text .row {
	display: block;
}
.section-text .section-text {
	background: #010101;
	color: #fafafa;
	overflow: hidden;
}
.section-text .picture {
	width: 50%;
	float: left;
}
.section-text .img-fluid {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.section-text .visible-xs {
	display: none!important;
}

.section-text .picture img {
	height: 491px;
}

.section-text h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 32px;
  color: #bce3c6;
  font-weight: 600;
  width: 80%;
} 

.section-text .text-wrapper {
  width: 50%;
	float: right;
	padding: 70px 0 50px 100px;
}

.section-text .text-wrapper h2 {
	margin-bottom: 35px;
}
.section-text .text-wrapper p {
	font-size: 18px;
	margin-bottom: 50px;
  color: #6c8673;
  line-height: auto;
}

@media (max-width: 767px) {
	.section-text .visible-xs {
		display: block!important;
	}
	.section-text .hidden-xs {
		display: none;
	}
}

@media (min-width: 992px) {
	.section-text .picture img {
		object-fit: cover;
	}
	.section-text .container {
		width: 970px;
	}
}
@media (max-width: 992px) {
	.section-text .picture {
		width: 100%;
		overflow: auto;
	}
	.section-text .picture img {
		height: auto;
	}
	.section-text .picture img {
		height: auto;
	}
	.section-text .text-wrapper p br {
		display: none;
	}
}

@media (max-width: 1200px) and (min-width: 992px) {
	.section-text .text-wrapper {
		padding-left: 45px;
    padding: 90px 0 0 65px;
	}
}

@media (max-width: 992px) and (min-width: 768px) {
	.section-text .text-wrapper {
		width: 100%;
		float: none;
		clear: both;
		padding: 60px 0 50px 0;
	}
	.section-text .text-wrapper p {
		font-size: 18px;
		margin-bottom: 35px;
	}

  .section-text h3 {
    margin: 0;
  }
}
@media (max-width: 768px) {
	.section-text .picture img {
		margin: 0 auto;
	}
	.section-text .text-wrapper {
		width: 100%;
		padding: 45px 0 30px 0;
		text-align: center;
	}
	.section-text .text-wrapper h2 {
		text-align: center;
		margin-bottom: 27px;
	}

	.section-text .text-wrapper p {
		font-size: 17px;
		text-align: left;
		line-height: 25px;
	}
}

@media (min-width: 1200px) {
	.section-text .container {
		width: 1180px;
	}
}

@media (max-width: 576px) {
  .section-text .text-wrapper {
    padding: 35px;
  }

  .section-text h3 {
    font-size: 30px;
    width: 100%;
  }

  .section-text .text-wrapper p {
    font-size: 15px;
  }
}

/*--------------------------------------------------------------
# Section Text 2
--------------------------------------------------------------*/
.section-text2{
  padding: 0px;
  overflow: hidden;
}

.section-text2 .container::after,
.section-text2 .container::before,
.section-text2 .row::after,
.section-text2 .row::before {
content: " ";
display: table;
}
.section-text2 .container::after,
.section-text2 .row::after {
clear: both;
}
.section-text2 .row {
display: block;
}
.section-text2 .section-text {
background: #010101;
color: #fafafa;
overflow: hidden;
}
.section-text2 .picture {
width: 50%;
float: right;
}
.section-text2 .img-fluid {
width: 100%;
max-width: 100%;
height: auto;
}
.section-text2 .visible-xs {
display: none!important;
}

.section-text2 .picture img {
  height: 491px;
  }
  
  .section-text2 h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 32px;
  color: #fae3b1;
  font-weight: 600;
  width: 90%;
  } 
  
  .section-text2 .text-wrapper {
    width: 50%;
    float: right;
    padding: 80px 100px 50px 0px;
    /* margin-left: -56px; */
  }
  
  .section-text2 .text-wrapper h2 {
  margin-bottom: 35px;
  }
  .section-text2 .text-wrapper p {
  font-size: 18px;
  margin-bottom: 50px;
  color: #a48d5c;
  line-height: auto;
  }

@media (max-width: 767px) {
.section-text2 .visible-xs {
  display: block!important;
}
.section-text2 .hidden-xs {
  display: none;
}
}

@media (min-width: 992px) {
.section-text2 .picture img {
  object-fit: cover;
}
.section-text2 .container {
  width: 970px;
}
}
@media (max-width: 992px) {
.section-text2 .picture {
  width: 100%;
  overflow: auto;
}
.section-text2 .picture img {
  height: auto;
}
.section-text2 .picture img {
  height: auto;
}
.section-text2 .text-wrapper p br {
  display: none;
}
}

@media (max-width: 1250px) and (min-width: 992px) {
.section-text2 .text-wrapper {
  padding: 55px 50px 0 50px;
  margin-left: -56px;
}
}
@media (max-width: 992px) and (min-width: 768px) {
.section-text2 .text-wrapper {
  width: 100%;
  float: none;
  clear: both;
  padding: 60px 0 50px 0px;
}
.section-text2 .text-wrapper p {
  font-size: 18px;
  margin-bottom: 35px;
}
}
@media (max-width: 768px) {
.section-text2 .picture img {
  margin: 0 auto;
}
.section-text2 .text-wrapper {
  width: 100%;
  padding: 45px 0 30px 0;
  text-align: center;
  margin-left: 0;
}
.section-text2 .text-wrapper h2 {
  text-align: center;
  margin-bottom: 27px;
}
.section-text2 .text-wrapper p {
  font-size: 15px;
  text-align: left;
  line-height: 25px;
}
}

@media (min-width: 1200px) {
.section-text2 .container {
  width: 1180px;
}
}

@media (max-width: 576px) {
  .section-text2 .text-wrapper {
    padding: 35px;
  }

  .section-text2 h3 {
    font-size: 30px;
    width: 100%;
  }

  .section-text2 .text-wrapper p {
    font-size: 15px;
  }

  
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #bce3c6;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #77c5d2;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #39718d;
  border-top-color: #d6e5f8;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #77c5d2;
  border-bottom: 1px solid #ffffff1b;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  height: 40px;
  padding: 0;
}

#topbar .contact-info a {
  color: #ffffff;
  transition: 0.3s;
  font-size: 17px;
  letter-spacing: normal;
  font-weight: 700;
}

#topbar .contact-info a:hover {
  color: #bce3c6;
}

#topbar .contact-info i {
  color: #ffffff;
  line-height: 0;
  margin-right: 10px;
  font-size: 20px;
}

#topbar .contact-info .phone-icon {
  margin-left: 15px;
}

#topbar .social-links a {
  color: #ffffff;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
  font-size: 17px;
}

#topbar .social-links a:hover {
  color: #bce3c6;
}


#topbar .social-links i {
  color: #ffffff;
  line-height: 0;
  font-size: 15px;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: #77c5d2;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  height: 80px;
  width: auto;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  color: red;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 8px 12px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #bce3c6;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #bce3c6;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  color: #ffffff;
  border: 2px solid #bce3c6;
  background-color: #bce3c6;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #bce3c6;
  background: #ffffff;
  border-color: #ffffff;
}

.navbar>ul>li>.getstarted:before {
  visibility: hidden;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #15222b;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #39718d;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #39718d;
  font-size: 35px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
    color: #ffffff;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 7, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #15222b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #39718d;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #39718d;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/new-header.jpg") right;
  background-size: cover;
  position: sticky;
  padding: 0;
}

#hero:before {
  content: "";
  /* background:rgba(0, 0, 0, 0.26); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

#hero h1 {
  margin: 0px;
  font-size: 50px;
  font-weight: 600;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
  width: 80vw;
  text-align: left;
}

#hero h2 {
  color: #eee;
  font-size: 30px;
  margin: 10px 0 50px 0;
  font-weight: 300;
  width: 80vw;
  text-align: left;
}

#hero .btn-get-started {
  font-family: 'Asap', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  padding: 10px 35px 10px 35px;
  border-radius: 4px;
  transition: 0.5s;
  color: #ffffff;;
  background: #ffffff44;
  border: 2px solid #ffffff;
}

#hero .btn-get-started:hover {
  border-color: #fff;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #39718d;
}

@media (max-width: 1200px) {
#hero h1 {
  padding-right: 500px;
}
}

@media (max-width: 1100px) and (min-width: 1025px){
  #hero h1 {
    padding-right: 400px;
  }
}

@media (max-width: 1024px){
  #hero {
    background-attachment: fixed;
  }

  #hero h1 {
    padding-right: 300px;
  }

}

@media (max-width: 992px) {
  #hero h1 {
    padding: 400px 0 0 0;
    font-size: 40px;
    text-shadow: rgb(132, 132, 132) 1px 0 10px;
  }

  #hero h2 {
    font-size: 25px;
    text-shadow: rgb(132, 132, 132) 1px 0 10px;
  }

  #hero .btn-get-started {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #header {
    padding: 0;
  }

  #hero {
    height: 90vh;
  }

  #hero h1 {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin: 0;
    padding-right: 0;
    text-shadow: rgb(132, 132, 132) 1px 0 10px;

  }

  #hero h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 10px 0 30px 0;
    text-align: left;
    padding-right: 100px;
    text-shadow: rgb(132, 132, 132) 1px 0 10px;
  }
  
}

@media (max-width: 576px) {
  #hero {
    height: 80vh;
    background-position-x: right -150px;
    position: sticky;

  }

  #hero h1 {
    font-size: 35px;
    line-height: 36px;
    text-align: left;
    margin: 100px 0 0 0;
    padding: 100px 0 0 0;
  }

  #hero h2 {
    font-size: 15px;
    margin: 5px 0 25px 0;
    text-align: left;
    padding: 0;
    line-height: 1.25rem;
  }

  #hero .btn-get-started {
    align-items: center;
  }

  /* .btn-container {
    display: flex;
    justify-content: center;
  } */
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fae3b1;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #534324;
  font-family: 'Asap', sans-serif;
  text-align: center;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Asap', sans-serif;
  color: #7b6539;
  text-align: center;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


.about .container {
  height: 100%;
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px; */
}

.about h2 {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6c8673;
  font-family: 'Asap', sans-serif;
}

.about h3 {
  margin: 15px 0 0 40px;
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.about p {
  color: #6c8673;
  margin: 0 0 0 40px;
  font-family: 'Asap', sans-serif;
  font-size: 16px;

}

.about .icon1 {
  background-image: url(assets/img/tooth.png);
}

.about .count-box {
  padding: 30px 0 30px 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.about .count-box i {
  display: block;
  font-size: 48px;
  color: #a1bdd1;
  float: left;
  line-height: 0;
}

.about .count-box img {
  display: block;
  font-size: 55px;
  color: #a1bdd1;
  float: left;
  line-height: 0;
  width: 60px;
  margin-left: 20px;
  border-radius: 5px;
}

.about .count-box span {
  font-size: 28px;
  line-height: 25px;
  display: block;
  font-weight: 700;
  color: #365870;
  margin-left: 60px;
}

.about .count-box p {
  padding: 5px 0 0 0;
  margin: 0 0 0 60px;
  font-family: 'Asap', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #77c5d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  text-align: center;
}

.about .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #2e4b5e;
  font-size: 15px;
  font-family: 'Asap', sans-serif;
  transition: ease-in-out 0.3s;
}

.about .count-box a:hover {
  color: #477392;
}

.about .content {
  font-size: 15px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 30px;
  color: #bce3c6;
  margin-bottom: 20px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about .content ul i {
  font-size: 24px;
  color: #39718d;
  position: absolute;
  left: 0;
  top: -2px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#39718d 50%, rgba(173, 205, 252, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(46, 23, 255, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #39718d;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@media (max-width: 992px) {
  .about h2 {
    text-align: center;
    margin-top: 20px;
  }

  .about .count-box {
    margin-bottom: 10px;
    margin-left: 0;
    border-radius: 20px;
  }
}

@media (max-width: 992px) {
  .about .count-box p {
  font-size: 18px;
  }
}

@media (max-width: 768px) {
  .about .count-box {
    margin: 10px 0;
  }

}

@media (max-width: 576px) {
  .about .count-box {
    padding: 30px 0 30px 0;
    height: 120px;
    margin: 10px 0;
  }

  .about .count-box img {
    margin-left: 20px;
  }

  .about h3 {
    margin: 15px 0 40px 40px;
  }

}

/*--------------------------------------------------------------
# About Boxes
--------------------------------------------------------------*/
.about-boxes {
  background: url("../img/quotes2.png");
  background-size: cover;
  padding: 70px 0;
  position: relative;
  height: 30vh;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center center;
}

.about-boxes::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #39718dc1;
  z-index: 9;
}

.about-boxes .container,
.about-boxes .container-fluid {
  position: relative;
  z-index: 10;
}

.about-boxes h1 {
  color: #fff;
}

.about-boxes .card {
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.about-boxes .card-icon {
  text-align: center;
  margin-top: -32px;
}

.about-boxes .card-icon i {
  font-size: 32px;
  color: #fff;
  width: 64px;
  height: 64px;
  padding-top: 5px;
  text-align: center;
  background-color: #39718d;
  border-radius: 4px;
  text-align: center;
  border: 4px solid #fff;
  transition: 0.3s;
  display: inline-block;
}

.about-boxes .card-body {
  padding-top: 12px;
}

.about-boxes .card-title {
  font-weight: 700;
  text-align: center;
}

.about-boxes .card-title a {
  color: #15222b;
}

.about-boxes .card-title a:hover {
  color: #39718d;
}

.about-boxes .card-text {
  color: #5e5e5e;
}

.about-boxes .card:hover .card-icon i {
  background: #fff;
  color: #39718d;
}

@media (max-width: 1024px) {
  .about-boxes {
    background-attachment: scroll;
  }
}


/*--------------------------------------------------------------
# quotes
--------------------------------------------------------------*/

.quotes {
  background: url("../img/quotes2.png");
  background-size: cover;
  padding: 70px 0;
  position: relative;
  height: 30vh;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quotes::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #77c5d299;
  z-index: 0;
}

.quotes.container,
.quotes .container-fluid {
  position: relative;
  z-index: 10;
}

.quotes h1 {
  color: #ffffff;
}

.quotes .card {
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.quotes .card-icon {
  text-align: center;
  margin-top: -32px;
}

.quotes .card-icon i {
  font-size: 32px;
  color: #fff;
  width: 64px;
  height: 64px;
  padding-top: 5px;
  text-align: center;
  background-color: #39718d;
  border-radius: 4px;
  text-align: center;
  border: 4px solid #fff;
  transition: 0.3s;
  display: inline-block;
}

.quotes .card-body {
  padding-top: 12px;
}

.quotes .card-title {
  font-weight: 700;
  text-align: center;
}

.quotes .card-title a {
  color: #15222b;
}

.quotes .card-title a:hover {
  color: #39718d;
}

.quotes .card-text {
  color: #5e5e5e;
}

.quotes .card:hover .card-icon i {
  background: #fff;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .quotes {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  .quotes h1 {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background: #f0f4f8;
  padding: 15px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .nav-tabs {
  border: 0;
  justify-content: center;
}

.services .nav-link {
  background-color: #ffffff;
  border: 2px solid #77c5d2;
  padding: 15px;
  transition: 0.3s;
  color: #77c5d2;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.services .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.services .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.services .nav-link:hover {
  background: #77c5d2;
  color: #fff;
  border-color: #77c5d2;
;
}

.services .nav-link.active {
  background: #77c5d2;
  color: #fff;
  border-color: #77c5d2;
}

.services h3 {
  color:#7b6539;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .services .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .services .nav-link {
    padding: 15px;
  }

  .services .nav-link i {
    font-size: 24px;
  }
}

.services .tab-content {
  margin-top: 30px;
}

.services .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}

.services .tab-pane ul {
  list-style: none;
  padding: 0;
}

.services .tab-pane ul li {
  padding-bottom: 10px;
}

.services .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #39718d;
}

.services .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services2 span {
  font-size: 18px;
  margin-left: 20px;
  color: #4b818a;
}

.services2 .nav-tabs {
  border: 0;
  justify-content: center;
}

.services2 .nav-link {
  background-color: #ffffff;
  border: 2px solid #77c5d2;
  padding: 15px;
  transition: 0.3s;
  color: #77c5d2;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.services2 .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.services2 .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.services2 .nav-link:hover {
  background: #77c5d2;
  color: #fff;
  border-color: #77c5d2;
}

.services2 .nav-link.active {
  background: #77c5d2;
  color: #fff;
  border-color: #77c5d2;
}

@media (max-width: 768px) {
  .services2 .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .services2 .nav-link {
    padding: 15px;
  }

  .services2 .nav-link i {
    font-size: 24px;
  }
}

.services2 .tab-content {
  margin-top: 30px;
}

.services2 .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
  color: #77c5d2;
}

.services2 .tab-pane p {
  color: #4b818a;
  font-size: 18px;
}

.services2 .tab-pane ul {
  list-style: none;
  padding: 0;
}

.services2 .tab-pane ul li {
  padding-bottom: 10px;
}

.services2 .tab-pane ul i {
  font-size: 20px;
  padding-right: 15px;
  color: #bce3c6;
}

.services2 .tab-pane p:last-child {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .services2 .tab-pane p {
    font-size: 15px;
  }

  .services2 span {
    font-size: 15px;
    margin: 0 0 10px 5px;
  }
}
/*--------------------------------------------------------------
# Devices
--------------------------------------------------------------*/
.devices .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background: #fff;
}

.devices .icon-box i {
  float: left;
  color: #5c8eb0;
  font-size: 40px;
  line-height: 0;
}

.devices .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.devices .icon-box h4 a {
  color: #365870;
  transition: 0.3s;
}

.devices .icon-box .icon-box:hover h4 a {
  color: #39718d;
}

.devices .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}

.devices .icon-box:hover h4 a {
  color: #39718d;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  }

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses {
  padding: 80px 0;
  background-color: #bce3c6;
}

.courses::before {
  content: "";
  position: absolute;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
}

.courses .section-header {
  margin-bottom: 40px;
}

.courses .courses-carousel,
.courses .courses-slider {
  overflow: hidden;
}

.courses .courses-item {
  text-align: center;
  color: #fff;
}

.courses .courses-item .courses-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.courses-img {
  width: 50%;
  height: auto;
}


.courses .courses-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.courses .courses-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.courses .courses-item .quote-icon-left,
.courses .courses-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.courses .courses-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.courses .courses-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.courses .courses-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}

@media (max-width: 992px) {
  .courses-img {
    width: auto;
    height: 60vh;
  }
}

@media (min-width: 992px) {
  .courses .courses-item p {
    width: 80%;
  }

}

@media (max-width: 768px) {
  .courses-img {
    width: 100%;
  }
}


.courses .swiper-pagination {
  margin-top: 40px;
  position: relative;
}

.courses .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  opacity: 0.5;
}

.courses .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #77c5d2;
  opacity: 1;
}

/*--------------------------------------------------------------
# Reading
--------------------------------------------------------------*/
.reading span {
  font-size: 15px;
  margin-left: 20px;
  color: #4b818a;
}

.reading .nav-tabs {
  border: 0;
  justify-content: center;
}

.reading .nav-link {
  background-color: #ffffff;
  border: 2px solid #77c5d2;
  padding: 15px;
  transition: 0.3s;
  color: #77c5d2;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.reading .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.reading .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.reading .nav-link:hover {
  background: #77c5d2;
  color: #fff;
  border-color: #77c5d2;
}

.reading .nav-link.active {
  background: #77c5d2;
  color: #fff;
  border-color: #77c5d2;
}

@media (max-width: 768px) {
  .reading .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .reading .nav-link {
    padding: 15px;
  }

  .reading .nav-link i {
    font-size: 24px;
  }
}

.reading .tab-content {
  margin-top: 30px;
}

.reading .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
  color: #77c5d2;
}

.reading .tab-pane h4 {
  font-weight: 600;
  font-size: 18px;
  color: #4b818a;
}

.reading .tab-pane p {
  color: #4b818a;
}

.reading .tab-pane ul {
  list-style: none;
  padding: 0;
}

.reading .tab-pane ul li {
  padding-bottom: 10px;
}

.reading .tab-pane ul i {
  font-size: 20px;
  padding-right: 15px;
  color: #bce3c6;
}

.reading .tab-pane p:last-child {
  margin-bottom: 0;
}

.divider {
  text-align: center;
  margin-top: 20px;
}

.divider hr {
  margin: 0;
}

.divider span {
  font-size: 30px;
  font-weight: bold;
  margin: 0 10px;
}



/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #e5edf3;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #39718d;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -50px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #39718d;
  padding: 15px 20px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: white;
  transition: ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #d6e5f8;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 15px;
}

.portfolio .portfolio-item:hover img {
  top: -30px;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #39718d;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #39718d;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(21, 34, 43, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  position: relative;
}

.team .container {
  position: relative;
  z-index: 10;
}

.team .member {
  margin-bottom: 80px;
  position: relative;
}

.team .member .pic {
  overflow: hidden;
}

.team .member .member-info {
  position: absolute;
  bottom: -50px;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px 15px;
  color: #15222b;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.5s;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #15222b;
  position: relative;
  padding-bottom: 10px;
}

.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #7fa5c0;
  bottom: 0;
  left: 0;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member .social {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #477392;
}

.team .member .social a:hover {
  color: #39718d;
}

.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .team .member {
    margin-bottom: 110px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #77c5d2;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 500;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #5b0ded;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #39718d;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #77c5d2;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #bce3c6;
  color: #ffffff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f0f4f8;
  min-height: 40px;
  margin-top: 78px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #263d4d;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 52px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #77c5d2;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 15px;
}

#footer .footer-top {
  background: #77c5d2;
  border-bottom: 1px solid #77c5d2;
  padding: 60px 0 0 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 20px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 18px;
  line-height: auto;
  font-weight: 400;
  margin-bottom: 0;
  font-family: 'Asap', sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #39718d;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d6e5f8;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-size: 16px;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffffff83;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #39718d;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #d6e5f8;
}

#footer .copyright {
  text-align: center;
  padding-bottom: 10px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  transition: 0.3s;
}
/* temporary hidden in the phone screen size because the context on the row is not same */
@media screen and (max-width: 992px) {
  #hidethis{
    display: none;
  }
}

@media (max-width: 576px) {
  #footer .footer-top .footer-info p {
    font-size: 16px;
  }
}